/* This file is for your main application css. */

/*
font-family: 'Fontdiner Swanky', cursive; <- Welcome font; quirky, heavier, better apos
font-family: 'Londrina Solid', cursive; <- Question and answer font (check out the sketch version)
*/

body {
  background: yellow;
  color: black;
  min-height: 100%;
}

.container {
  min-height: 100%;
  width: 100%;
  max-width: 100%;
}

.jumbotron {
  background: none;
  border-bottom: none;
}

.header {
  margin-bottom: 30px;
  min-height: 92px;
  border-bottom: none;
}

.header ul {
  margin-top: 0;
}

.header ul li {
  background: white;
}

.center {
  text-align: center;
}

main {
  height: 100%;
  width: 100%;
  margin: 0;
  margin-top: -150px;
  padding: 0;
}

h2 {
  font-size: 96px;
  font-family: 'Fontdiner Swanky', cursive;
}
h2#title {
  font-size: 48px;
  color: white;
}

.meta {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 20px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.or {
  margin: 26px;
  font-size: 26px;
  font-family: 'Londrina Solid', cursive;
}

#shop {
  background: yellow;
  border: yellow;
  color: black;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
}


input[type=text] {
  background-color: white;
  color: black;
  font-family: 'Londrina Solid', cursive;
  font-size:36px;
  border: 0;
  margin: 10px;
  text-align: center;
}

.btn {
  background-color: black;
  font-family: 'Londrina Solid', cursive;
  color: #BBBB33;
  font-size:36px;
}

.btn.orange {
  background-color: orange;
  color: white;
}

#lobby #games {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

#lobby #games li {
  list-style: none;
}

#lobby #quit {
  font-family: Helvetica;
  font-size: 16px;
  background: yellow;
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
}

#lobby h1 {
  font-family: 'Londrina Solid', cursive;
  color: #222;
  font-size:28px;
}

#game {
  background: #222;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#game #quit {
  font-family: Helvetica;
  font-size: 16px;
  background: #222;
  color: white;
  border: 0;
}

#game #done {
}

#game #players {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

#game #players li {
  font-family: 'Londrina Solid', cursive;
  font-size: 28px;
  display: block;
  background: yellow;
  color: black;
  padding: 12px;
  border-radius: 5px;
  width: 300px;
  margin: 8px;
  position: relative;
}

#game li .score {
  display: inline-block;
  position: absolute;
  right: 48px;
  text-align: right;
  color: black;
}

#game li .state {
  display: inline-block;
  position: absolute;
  background: red;
  right: 12px;
  top: 50%;
  margin-top: -12px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

#game li .state.ready {
  background: green;
}

#game #time {
  z-index:0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 150px;
  margin:12px;
  margin-left: -75px;
  text-align: center;
  color: white;
  border: none;
  font-family: 'Londrina Solid', cursive;
  font-size: 72px;
  letter-spacing: 4px;
}


#game #score {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  margin:12px;
  color: white;
  border: none;
  font-family: 'Londrina Solid', cursive;
  font-size: 28px;
}

#game #score .score-value {
  display: inline-block;
  margin-left: 10px;
  color: yellow;
}

#game .banana {
  height: 80px;
  position: absolute;
  display: block;
}

body.page-controller.shop header ul.nav {
  display: none;
}

/*
 * Animation
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* https://webdesignerhut.com/5-animations-using-css-keyframes/ */

/*
 * Pulse animation
*/

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
