<div class="jumbotron">
  <h2 id="welcome" class="animated pulse">crazy<br>banana</h2>
</div>

<div style="text-align:center;margin-top:-100px;">
  <a href="/slots" id="slots">slots</a>
  <a href="/shop" id="shop">shop</a>
  <img src="/images/banana.gif" height="300">
  <form action="/lobby">
    <input type="text" name="name" value=""><br>
    <input class="btn" type="submit" name="join" value="Choose a player name">
  </form>
</div>
