<script type="text/javascript">
  window.userId = "<%= @id %>";
</script>

<div id="lobby">
  <button type="button" name="quit" id="quit">x</button>
  <div class="jumbotron">
    <h2 id="welcome" class="animated pulse">Join a game</h2>
  </div>

  <div style="text-align:center">
    <h1>You are <%= @id %></h1>
    <a href="/game?id=<%= @id %>&name=<%= @id %>" class="btn" id="start">Start a game</a>
  </div>

  <ul id="games">
    <li>There are no games yet!</li>
  </ul>
</div>
